body {
	background-color: #ffeaea;
}

.product, .product2 {
	background-color: #fff;
	border: 1px solid;
	float: left;
	width: 63px;
	height: 36px;
	line-height: 36px;
	padding: 8px;
	margin: 3px;
	text-align: center;
	font-weight: bold;
	//box-shadow: 1px 1px 1px #000;

}

.product:nth-child(10n+1) {
	background-color: yellow;
	clear: both;
}

.product2:nth-of-type(10n+1) {
	background-color: yellow;
	clear: both;
}

h1 {
	text-align: center;
	clear: both;
}



h3 {
	font-weight: 300;
	text-align: center;
	border: 1px solid;
	padding-top: 7px;
	padding-bottom: 7px;
	background-color: #fff;
}
h1 > i {
	text-shadow: 2px 2px 2px #fff;
}

h3 > i {
	font-weight: bold;
}
